Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
examples/.deps/
examples/Makefile
examples/Makefile.in
gtk-doc.make
include/Makefile
include/Makefile.in
install-sh
libtool
libvtls.pc
ltmain.sh
m4/
missing
src/.deps/
src/Makefile
src/Makefile.in
stamp-h1
src/.libs/
*.o
*.lo
